.signing-form{
  background: linear-gradient(135deg, rgba(173, 120, 51 0.1), rgba(222, 184, 135, 0.658));
  backdrop-filter:  blur(5rem);
  -webkit-backdrop-filter: blur(5rem);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(--tertiarycolour);
  border-radius: .25rem;
  color: rgb(236, 232, 225);
  width: 80%;
  padding: 1rem;
  margin: auto;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, to 0.4s; 
  position: absolute;
  top: 7%;
  left: 89%;
  z-index: 1;
}

.open-Login{
  visibility: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.signing-form h1{
  color: var(--primarycolour);
  margin: .5% auto;
  font-size: 5vw;
}

.input-box{
  font-family: 'Comic Neue', cursive;
  border-radius: .3rem;
  padding: .3rem;
  margin: 1% auto;
  min-width: 90%;
  border: 1px solid #999;
  outline: none;
}

fieldset{
  margin: 2.5%;
  padding: 1%;
}

.sign-btn{
  font-family: 'Comic Neue', cursive;
  background-color: var(--secondaycolour);
  color: black;
  margin: 2vh auto;
  width: 100%;
  max-width: 20rem;
  padding: .3rem;
  border-radius: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.signing-page{
  background-color: inherit;
  border-color: inherit;
}

.facebook{
  background-color: rgb(59, 89, 152);
}
.google{
  background-color: rgb(66, 133, 244);
}

.long{
  min-width: 90%;
  margin: 1% auto;
}

.optional-signup{
  display: flex;
}

.google, .facebook{
  max-width: 48%;
  margin: 1%;
  opacity: 90%;
}

p{
  font-size: 1rem;
}

a{
  text-decoration: none;
  color: black;
}

hr{
  width: 85%;
  margin: auto;
}

@media screen and (min-width:320px) and (max-width: 577px){
  .input-box{
    min-width: 90%;
  }

  .sign-up-form h1{
    font-size: 5.5vw;
  }

  p{
    font-size: .8rem;
  }
}