.header-props{
    visibility: visible;
}

nav{
    position: relative;
    width: 98%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: .28rem 1%;
    transition: all 0.50s ease;
    margin: auto;
    overflow: hidden;
    border-end-end-radius: .2rem;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main a, #menu-icon{
    color: #fff;
    font-size: 2rem;
    transition: all .50s ease;
}

.user{
    display: flex;
    align-items: center;
}

#logo{
    width: 5rem;
    margin: .25rem .5rem;
    border-radius: .15rem;
}

#logo:hover, .user i:hover, #menu-icon:hover{
    transform: scale(1.12);
}

.xx{
    margin: .5rem  1.5rem;
}

header{
    background-image: url('./img/bar-826688.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header h1,
header p{
    background: linear-gradient(135deg, rgba(173, 120, 51 0.1), rgba(0, 0, 0, 0.658));
    backdrop-filter:  blur(.9rem);
    -webkit-backdrop-filter: blur(5rem);
    box-shadow: 0 8px 32px 0 rgba(85, 7, 7, 0.37);
    border: 1px solid rgba(--tertiarycolour);
    border-radius: .25rem;
    color: var(--tertiarycolour);
    transform: translate(-25%, 10%);
    padding: .5rem;
}

header p b{
    font-size: 2.2rem;
    align-self: flex-end;
    padding: 0;
    margin: 0;
}

header p{
    font-size: 140%;
    line-height: 1.8;
}

.greeting{
    top: calc(100vh - 52.5vh);
    left: calc(100vw - 80vw);
    position: absolute;
    justify-content: grid;
    max-width: 58%;
}

@media screen and (max-width: 480px) {
    .main a, #menu-icon{
        font-size: 150%;
        transition: all .50s ease;
        margin: .2rem  .8rem;
    }
    
    #logo{
        width: 3rem;
        margin: .1rem;
        border-radius: .15rem;
    }

    header p{
        font-size: 1rem;
        line-height: 1.5;
    }
    header p b{
        font-size: 1.2rem;
        align-self: flex-end;
        padding: 0;
        margin: 0;
    }

    .greeting{
        top: calc(100vh - 45vh);
        left: calc(100vw - 80vw);
        position: absolute;
        justify-content: grid;
        max-width: 58%;
    }
}

